BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF PORT "pins[0]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "pins[0]" SITE "PB11A" ;
LOCATE COMP "pins[1]" SITE "PB11B" ;
LOCATE COMP "pins[2]" SITE "PB20C" ;
LOCATE COMP "pins[3]" SITE "PB20D" ;
LOCATE COMP "pins[4]" SITE "PR5D" ;
LOCATE COMP "pins[5]" SITE "PR5C" ;
LOCATE COMP "pins[6]" SITE "PT17D" ;
LOCATE COMP "pins[7]" SITE "PT15D" ;
LOCATE COMP "pins[8]" SITE "PT15C" ;
LOCATE COMP "pins[9]" SITE "PT12D" ;
LOCATE COMP "pins[10]" SITE "PT12C" ;
LOCATE COMP "pins[11]" SITE "PL9A" ;
LOCATE COMP "pins[12]" SITE "PL9B" ;
LOCATE COMP "pins[13]" SITE "PB4C" ;
LOCATE COMP "pins[14]" SITE "PB6C" ;
LOCATE COMP "pins[15]" SITE "PB6D" ;
LOCATE COMP "pins[16]" SITE "PB9A" ;
LOCATE COMP "pins[17]" SITE "PB9B" ;
IOBUF PORT "pins[1]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "pins[2]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "pins[3]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "pins[4]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "pins[5]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "pins[6]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "pins[7]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "pins[8]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "pins[9]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "pins[10]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "pins[11]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "pins[12]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "pins[13]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "pins[14]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "pins[15]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "pins[16]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "pins[17]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
